/*About base*/
#about-section{
    display: flex;
    justify-content: center;
    padding: 10% 2%;
}

.about-container{
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-description{
    display: flex;
    flex-direction: column;
}

.about-img{
    width: 600px;
    height: 600px;
}

/* Estilos de texto*/

.name-intro{
    font-size: 2em;
}

.name{
    font-family: 'Ultra', serif;
    font-size: 6em;
    font-weight: normal;
}


.button{
    width: 35%;
    padding: 0.8vh 4vh;
    background-color: black;
    color: white;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    margin-top: 10%;
}

/*About breakpoint*/

@media (max-width: 1100px){
    
    .about-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-description{
        width: 80%;
        max-width: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-img{
        width: 300px;
        height: 300px;
    }

    .name{
        font-family: 'Ultra', serif;
        font-size: 3em;
        font-weight: normal;
    }

    .button{
        width:auto;
    }
}
