<<<<<<< HEAD
/************About*************/

#about-section {
    display: flex;
    justify-content: center;
    padding: 10% 2%;
}

.about-container {
=======
/*About base*/
#about-section{
    display: flex;
    justify-content: center;
    padding: 8% 2%;
}

.about-container{
>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

<<<<<<< HEAD
.about-description {
=======
.about-description{
>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
    display: flex;
    flex-direction: column;
}

<<<<<<< HEAD
.about-img {
=======
.about-img{
>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
    width: 600px;
    height: 600px;
}

<<<<<<< HEAD
=======
/*Estilos de texto*/

>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
.name-intro{
    font-size: 2em;
    margin-bottom: 2%;
}

.name{
    font-family: 'Ultra', serif;
    font-size: 6em;
    font-weight: normal;
    margin-bottom: 4%;
}

.tellMeMore{
    color: grey;
    margin-bottom: 10%;
}

.button{
    width: 35%;
    padding: 0.8vh 4vh;
    background-color: black;
    color: white;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 8%;
}

<<<<<<< HEAD
/************About BREAKPOINTS*************/

@media (max-width: 1100px){
    
    .about-container {
=======
/*About breakpoint*/

@media (max-width: 1100px){
    
    .about-container{
>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

<<<<<<< HEAD
    .about-description {
=======
    .about-description{
>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
        width: 80%;
        max-width: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

<<<<<<< HEAD
    .about-img {
=======
    .about-img{
>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
        width: 400px;
        height: 400px;
    }

<<<<<<< HEAD
    .name-intro {
        font-size: 1.3em;
    }

    .name {
=======
    .name-intro{
        font-size: 1.3em;
    }

    .name{
>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
        font-size: 4.5em;
        margin-bottom: 5%;
    }

<<<<<<< HEAD
    .tellMeMore {
=======
    .tellMeMore{
>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
        font-size: 1.2em;
        margin-bottom: 15%;
    }

<<<<<<< HEAD
    .button {
=======
    .button{
>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
        width:auto;
        margin-bottom: 10%;
    }
}

<<<<<<< HEAD
@media (max-width: 360px) {

    .about-container {
        margin-top: 0%;
    }

    .about-img {
=======
@media (max-width: 360px){

    .about-container{
        margin-top: 0%;
    }

    .about-img{
>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
        width: 300px;
        height: 300px;
    }

<<<<<<< HEAD
    .name-intro {
        font-size: 1.3em;
    }

    .name {
        font-size: 3em;
    }

    .tellMeMore {
=======
    .name-intro{
        font-size: 1.3em;
    }

    .name{
        font-size: 3em;
    }

    .tellMeMore{
>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
        margin-bottom: 12%;
    }

}