*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Design styles */
:root {
    --main-color: #FFFFFF;
    --second-color: #FFFFFF;
    --text-type: 'Nunito Sans', sans-serif;
  }


/* Layout */

.column {
    width: 100%;
    max-width: 1100px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h2, p, a{
    font-family: 'Nunito Sans', sans-serif;
}

h2{
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.05em;
    margin: 2% auto;
}