/*Contac Base*/

#contact-section{
    display: flex;
    justify-content: center;
    padding: 7% 2%; 
}

.media-container{
    display: flex;
    justify-content: space-between;
    
    background-color:skyblue blue;
}

.contact-column{
    width: 48%;
    max-width: 1100px;
}

.contact-description{
    margin-bottom: 4%;
}

.social-link{
    margin: 4% 0%;
    color: black;
}

/*Formulario*/
.form-column{
    width: 48%;
    max-width: 1100px;
}

.input-name-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.input{
width: 80%;
}

@media (max-width: 1100px){
    .media-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact-column{
        width: 100%;
        margin-bottom: 10%;
    }
    .form-column{
        width: 100%;
    }
}