.quote-section{
    background-color: red;
    display: flex;
    justify-content: center;
    padding: 10% 2%;
}

.quote-container{
    width: 100%;
    max-width: 1100px;
    background-color: pink;
}