<<<<<<< HEAD
/************Quote*************/

.quote-section {
=======
/*Quote base*/

.quote-section{
>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
    background-color:black;
    display: flex;
    justify-content: center;
    padding: 8% 2%;
}

<<<<<<< HEAD
.quote-container {
=======
.quote-container{
>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

<<<<<<< HEAD
.quote-container i {
=======
/*Styles*/

.quote-container i{
>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
    font-size: 60px;
    margin-bottom: 4%;
}

<<<<<<< HEAD
blockquote {
    margin-bottom: 4%;
}
=======
blockquote{
    margin-bottom: 4%;
}

>>>>>>> 972ae4625963b7a44e9a15f7b77c28c3c6116b83
